# Springboard Capstone 02 - Energy price prediction based on weather
## Joining the data sets

In [25]:
import pandas as pd

In [26]:
energy_data = pd.read_csv('data/eng_grouped_max.csv')
weather_data = pd.read_csv('data/wea_grouped_max.csv')

In [27]:
energy_data.head()

,date,generation biomass_daily_max,generation fossil brown coal/lignite_daily_max,generation fossil gas_daily_max,generation fossil hard coal_daily_max,generation fossil oil_daily_max,generation hydro pumped storage consumption_daily_max,generation hydro run-of-river and poundage_daily_max,generation hydro water reservoir_daily_max,generation nuclear_daily_max,...,generation wind onshore_daily_max,forecast solar day ahead_daily_max,forecast wind onshore day ahead_daily_max,total load forecast_daily_max,total load actual_daily_max,price day ahead_daily_max,price actual_daily_max,gen_total_daily_max,month,day_of_week
0,2015-01-01,449.0,329.0,5196.0,5043.0,167.0,2170.0,1220.0,6231.0,7099.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
1,2015-01-02,443.0,0.0,6082.0,1432.0,220.0,3269.0,1370.0,5902.0,7108.0,...,13232.0,4120.0,13329.0,33968.0,33668.0,52.01,83.33,37670.0,1,Friday
2,2015-01-03,478.0,0.0,4157.0,1798.0,250.0,2953.0,1583.0,5985.0,7099.0,...,10953.0,3756.0,10857.0,30828.0,29874.0,44.00,72.86,35814.0,1,Saturday
3,2015-01-04,438.0,0.0,3997.0,2755.0,394.0,2185.0,1616.0,5936.0,7088.0,...,8922.0,5765.0,9036.0,30717.0,30772.0,40.48,76.49,37855.0,1,Sunday
4,2015-01-05,376.0,326.0,5699.0,4247.0,352.0,2365.0,1328.0,3732.0,4036.0,...,9131.0,4236.0,9258.0,25938.0,25604.0,62.00,90.97,31521.0,1,Monday

In [28]:
energy_data.columns

Index(['date', 'generation biomass_daily_max',
       'generation fossil brown coal/lignite_daily_max',
       'generation fossil gas_daily_max',
       'generation fossil hard coal_daily_max',
       'generation fossil oil_daily_max',
       'generation hydro pumped storage consumption_daily_max',
       'generation hydro run-of-river and poundage_daily_max',
       'generation hydro water reservoir_daily_max',
       'generation nuclear_daily_max', 'generation other_daily_max',
       'generation other renewable_daily_max', 'generation solar_daily_max',
       'generation waste_daily_max', 'generation wind onshore_daily_max',
       'forecast solar day ahead_daily_max',
       'forecast wind onshore day ahead_daily_max',
       'total load forecast_daily_max', 'total load actual_daily_max',
       'price day ahead_daily_max', 'price actual_daily_max',
       'gen_total_daily_max', 'month', 'day_of_week'],
      dtype='object')

In [29]:
weather_data.head()

,Unnamed: 0,Unnamed: 1,temp_daily_max,pressure_daily_max,humidity_daily_max,wind_speed_daily_max,rain_1h_daily_max,rain_3h_daily_max,snow_3h_daily_max,clouds_all_daily_max
0,date,city_name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,Barcelona,284.602312,1038.0,100.0,7.0,0.0,0.0,0.0,0.0
2,2015-01-01,Bilbao,284.591687,1036.0,97.0,1.0,0.0,0.0,0.0,24.0
3,2015-01-01,Madrid,283.308312,1036.0,75.0,1.0,0.0,0.0,0.0,0.0
4,2015-01-01,Seville,286.994000,1043.0,84.0,4.0,0.0,0.0,0.0,0.0

In [30]:
weather_data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'temp_daily_max', 'pressure_daily_max',
       'humidity_daily_max', 'wind_speed_daily_max', 'rain_1h_daily_max',
       'rain_3h_daily_max', 'snow_3h_daily_max', 'clouds_all_daily_max'],
      dtype='object')

In [31]:
weather_data.rename(columns={'Unnamed: 0': 'date', 'Unnamed: 1': 'city_name'}, inplace=True)
weather_data.columns

Index(['date', 'city_name', 'temp_daily_max', 'pressure_daily_max',
       'humidity_daily_max', 'wind_speed_daily_max', 'rain_1h_daily_max',
       'rain_3h_daily_max', 'snow_3h_daily_max', 'clouds_all_daily_max'],
      dtype='object')

In [32]:
weather_data.drop(0, axis=0, inplace=True)
weather_data.columns

Index(['date', 'city_name', 'temp_daily_max', 'pressure_daily_max',
       'humidity_daily_max', 'wind_speed_daily_max', 'rain_1h_daily_max',
       'rain_3h_daily_max', 'snow_3h_daily_max', 'clouds_all_daily_max'],
      dtype='object')

In [33]:
weather_data.head()

,date,city_name,temp_daily_max,pressure_daily_max,humidity_daily_max,wind_speed_daily_max,rain_1h_daily_max,rain_3h_daily_max,snow_3h_daily_max,clouds_all_daily_max
1,2015-01-01,Barcelona,284.602312,1038.0,100.0,7.0,0.0,0.0,0.0,0.0
2,2015-01-01,Bilbao,284.591687,1036.0,97.0,1.0,0.0,0.0,0.0,24.0
3,2015-01-01,Madrid,283.308312,1036.0,75.0,1.0,0.0,0.0,0.0,0.0
4,2015-01-01,Seville,286.994000,1043.0,84.0,4.0,0.0,0.0,0.0,0.0
5,2015-01-01,Valencia,285.277344,1035.0,84.0,2.0,0.0,0.0,0.0,0.0

In [34]:
eng_weather = pd.merge(weather_data, energy_data)
eng_weather.head()

,date,city_name,temp_daily_max,pressure_daily_max,humidity_daily_max,wind_speed_daily_max,rain_1h_daily_max,rain_3h_daily_max,snow_3h_daily_max,clouds_all_daily_max,...,generation wind onshore_daily_max,forecast solar day ahead_daily_max,forecast wind onshore day ahead_daily_max,total load forecast_daily_max,total load actual_daily_max,price day ahead_daily_max,price actual_daily_max,gen_total_daily_max,month,day_of_week
0,2015-01-01,Barcelona,284.602312,1038.0,100.0,7.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
1,2015-01-01,Bilbao,284.591687,1036.0,97.0,1.0,0.0,0.0,0.0,24.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
2,2015-01-01,Madrid,283.308312,1036.0,75.0,1.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
3,2015-01-01,Seville,286.994000,1043.0,84.0,4.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
4,2015-01-01,Valencia,285.277344,1035.0,84.0,2.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday

In [35]:
eng_weather.head(15)

,date,city_name,temp_daily_max,pressure_daily_max,humidity_daily_max,wind_speed_daily_max,rain_1h_daily_max,rain_3h_daily_max,snow_3h_daily_max,clouds_all_daily_max,...,generation wind onshore_daily_max,forecast solar day ahead_daily_max,forecast wind onshore day ahead_daily_max,total load forecast_daily_max,total load actual_daily_max,price day ahead_daily_max,price actual_daily_max,gen_total_daily_max,month,day_of_week
0,2015-01-01,Barcelona,284.602312,1038.0,100.0,7.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
1,2015-01-01,Bilbao,284.591687,1036.0,97.0,1.0,0.0,0.0,0.0,24.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
2,2015-01-01,Madrid,283.308312,1036.0,75.0,1.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
3,2015-01-01,Seville,286.994000,1043.0,84.0,4.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
4,2015-01-01,Valencia,285.277344,1035.0,84.0,2.0,0.0,0.0,0.0,0.0,...,6378.0,3842.0,6436.0,30739.0,29571.0,62.69,75.64,30452.0,1,Thursday
5,2015-01-02,Barcelona,286.328688,1039.0,100.0,2.0,0.0,0.0,0.0,64.0,...,13232.0,4120.0,13329.0,33968.0,33668.0,52.01,83.33,37670.0,1,Friday
6,2015-01-02,Bilbao,284.845344,1038.0,95.0,2.0,0.0,0.0,0.0,22.0,...,13232.0,4120.0,13329.0,33968.0,33668.0,52.01,83.33,37670.0,1,Friday
7,2015-01-02,Madrid,284.945344,1038.0,79.0,1.0,0.0,0.0,0.0,32.0,...,13232.0,4120.0,13329.0,33968.0,33668.0,52.01,83.33,37670.0,1,Friday
8,2015-01-02,Seville,286.864312,1045.0,89.0,4.0,0.0,0.0,0.0,0.0,...,13232.0,4120.0,13329.0,33968.0,33668.0,52.01,83.33,37670.0,1,Friday
9,2015-01-02,Valencia,287.553688,1037.0,82.0,2.0,0.0,0.0,0.0,0.0,...,13232.0,4120.0,13329.0,33968.0,33668.0,52.01,83.33,37670.0,1,Friday
10,2015-01-03,Barcelona,287.148000,1037.0,100.0,3.0,0.0,0.0,0.0,44.0,...,10953.0,3756.0,10857.0,30828.0,29874.0,44.00,72.86,35814.0,1,Saturday
11,2015-01-03,Bilbao,284.809000,1037.0,97.0,1.0,0.0,0.0,0.0,12.0,...,10953.0,3756.0,10857.0,30828.0,29874.0,44.00,72.86,35814.0,1,Saturday
12,2015-01-03,Madrid,285.737000,1036.0,86.0,2.0,0.0,0.0,0.0,4.0,...,10953.0,3756.0,10857.0,30828.0,29874.0,44.00,72.86,35814.0,1,Saturday
13,2015-01-03,Seville,287.973000,1045.0,90.0,3.0,0.0,0.0,0.0,0.0,...,10953.0,3756.0,10857.0,30828.0,29874.0,44.00,72.86,35814.0,1,Saturday
14,2015-01-03,Valencia,290.323000,1032.0,80.0,2.0,0.0,0.0,0.0,12.0,...,10953.0,3756.0,10857.0,30828.0,29874.0,44.00,72.86,35814.0,1,Saturday

In [36]:
eng_weather.to_csv('data/energy_weather.csv')
eng_weather.to_pickle('data/eng_weather.pkl')